<img src="/images/logoImp.png"  class=" mx-auto w-128 h-32">


<h1 class="text-center my-25 text-3xl">Hola que tal:  <b>{{name}} </b></h1>

<div id="drag-area" class="p-8 border-4 border-dashed border-blue-500 rounded-lg bg-white">
        <h2>Arrastra y suelta el txt de hosts</h2>
        <span>0</span>
        <button>Selecciona tus archivos</button>




            <p class="text-gray-500">Suelta los archivos aquí</p>
             <script src="/js/drag-and-drop.js"></script>
</div>
